:root {
  --hover-light-sky-blue: #81b3d2;
  --hover-corn-flower-blue: #669ec0;
  --active-steel-blue: #5496bd;
  --active-brown-dark: #503e33;
  --focus-light-grey: #b3b3b3;
  --hover-light-grey: #EBEBEB;
  --hover-brown: #604E43;
  --black: #000000;
  --body-grey: #eeeeee;
  --border-grey: #e5e5e5;
  --grey: #a9a9a9;
  --silver: #666666;
  --light-grey: #F2F2F2;
  --green: #7FFFD4;
  --brown: #766357;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  background-color: var(--body-grey);
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.inn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  text-transform: uppercase;
  background-color: var(--light-grey);
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.link {
  color: var(--black);
}

.button {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.margin-zero {
  margin: 0;
}

.main-header-logo {
  position: absolute;
  left: calc((100% - 138px)/2);
  width: 138px;
  height: 70px;
}

.main-header-nav-wrapper {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.main-header-nav {
  position: relative;
}

.main-header {
  min-height: 56px;
  background-color: var(--white);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-item {
  width: 200px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation-item:nth-child(4n+1) {
  text-align: left;
  padding-left: 22px;
}

.site-navigation-item:nth-child(4n+2) {
  text-align: left;
  padding-left: 50px;
}

.site-navigation-item:nth-child(4n-1) {
  text-align: right;
  padding-right: 49px;
  margin-left: 300px;
}

.site-navigation-item:nth-child(4n+4) {
  text-align: right;
  padding-right: 22px;
}

.main-promo-image {
  width: 456px;
  height: 350px;
}

.main-promo-background {
  background-color: var(--hover-light-sky-blue);
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  width: 1200px;
  height: 509px;
  padding-top: 77px;
}

.features-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 42px 300px 54px 300px;
  background-color: var(--white);
}

.features-title-margin {
  margin-top: 0;
  margin-bottom: 43px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list-item, 
.features-list-sub {
  display: flex;
  flex-wrap: wrap;
}

.features-list-item-container-blue-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 47px 40px 52px;
  color: var(--white);
  background-color: var(--hover-light-sky-blue);
}

.features-list-item-container-blue-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 50px 40px 50px;
  color: var(--white);
  background-color: var(--hover-light-sky-blue);
}

.features-list-item-container-big-grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 55px 50px 80px;
  background-color: var(--white);
}

.features-list-item-container-grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 47px 65px 54px;
}

.features-item-description-title {
  width: 170px;
}

.features-item-description-number {
  font-size: 14px;
  line-height: 21px;
  margin: 25px 0 23px;
}

.features-list-sub-title {
  margin-top: 28px;
  margin-bottom: 25px;
}

.features-photo {
  width: 800px;
  height: 256px;
}

.features-list-photo-house {
  background-color: ;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
  margin-top: 4px;
}

.features-list-photo-eat {
  background-color: ;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 70px;
  margin-top: 5px;
}

.features-list-photo-gift {
  background-color: ;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 77px;
}

.booking-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding: 60px 370px 0;
}

.booking-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.booking-text {
  font-size: 14px;
  line-height: 24px;
  max-width: 450px;
  margin-top: 30px;
  margin-bottom: 46px;
}

.booking-search-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown);
  width: 100%;
  min-height: 86px;
  padding: 17px 25px;
}

.main-booking-form-wrapper {
  position: relative;
  width: 568px;
}

.form-position {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 100%;
  width: 568px;
  background-color: var(--white);
}

.main-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px 40px;
}

.booking-form-field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 488px;
  padding: 15px 0px 14px 10px;
}

.booking-form-field-people {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 488px;
}

.booking-form-field-text {
  display: block;
  width: 100px;
  word-break: break-word;
  margin-right: 17px;
  margin-top: 4px;
}

.booking-form-field-adult {
  display: block;
  word-break: break-all;
  text-align: start;
  margin-left: 15px;
  margin-top: 5px;
}

.booking-form-field-children {
  display: block;
  word-break: break-all;
  margin-top: 5px;
  margin-left: 53px;
}

.booking-search-date-field {
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  width: 346px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  color: var(--black);
  padding: 0px 164px 0px 13px;
  background-color: var(--light-grey);
}

.booking-form-field-btn {
  position: absolute;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 23px;
  left: 89%;
  top: 26%;
  padding: 17px 17px;
}

.booking-form-field-amount {
  max-width: 473px;
  display: flex;
  padding: 15px 0px 14px 0px;
}

.booking-form-amount-field {
  display: flex;
  width: 114px;
  height: 38px;
  margin-left: 40px;
}

.booking-form-amount-field-children {
  display: flex;
  width: 114px;
  height: 38px;
  margin-left: 28px;
}

.field {
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 10px;
  width: 38px;
  text-align: center;
  background-color: var(--light-grey);
}

.booking-search-send-btn {
  max-width: 458px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--hover-light-sky-blue);
  width: 100%;
  min-height: 58px;
  padding: 10px 25px;
  margin-left: 15px;
  margin-top: 41px;
  margin-bottom: 14px;
}

.main-map-margin {
  margin-bottom: -120px;
}

.map {
  height: 594px;
}

.main-footer {
  background-color: var(--white);
  opacity: 0.9;
  min-height: 120px;
}

.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  max-width: 240px;
  width: 100%;
}

.main-footer-contacts-position {
  margin-left: 120px;
  padding-top: 14px;
}

.main-footer-contacts-text-margin {
  margin: 9px 0;
}

.main-footer-copyright-position {
  margin-right: 138px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 260px;
}

.social-item {
  width: 46px;
  height: 48px;
  margin: 3px;
}

.social-item a {
  width: 46px;
  height: 48px;
  display: flex;
  background-color: var(--hover-light-sky-blue);
}

.social-item img {
  margin: auto;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  max-width: 222px;
  width: 100%;
}

.footer-copyright-text {
  font-size: 14px;
  height: 26px;
  margin-right: 8px;
}

.hotels-background {
  background-color: var(--active-steel-blue);
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  height: 217px;
}

.hotels-filter-form {
  display: flex;
  justify-content: space-between;
  margin-top: -217px;
  padding: 25px 72px 31px;
}

.hotels-filter-form-wrapper{
  display: flex;
}

.hotels-filter-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
}
.hotels-filter-apartments {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-left: 0px;
  padding: 0px;
  border: 0px;
}

.hotels-filter-infrastructure {
  display: flex;
  flex-direction: column;
  width: 252px;
  margin-left: 0px;
  padding: 0;
  border: 0;
}

.hotels-filter-pool,
.hotels-filter-parking,
.hotels-filter-hotel,
.hotels-filter-motel {
  margin-bottom: 21px;
  text-align: start;
}

.hotels-filter-wifi {
  text-align: start;
}

.hotels-filter-title {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-width: 0px;
  padding-bottom: 20px;
  color: var(--white);
  text-align: start;
}

.hotels-filter-amount-title {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-width: 0px;
  padding-bottom: 14px;
  color: var(--white);
  text-align: start;
}

.hotels-filter-amount {
  width: 317px;
}

.hotels-filter-amount-value {
  margin-bottom: 11px;
}
.hotels-filter-amount-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  padding: 6px 49px 8px 62px;
  border-style: solid;
  border-color: var(--white);
  background-color: transparent;
  border-width: 2px;
  border-radius: 2px;
  width: 159px;
}

.hotels-filter-amount-range {
  font-size: 19;
  margin-bottom: 26px;
}

.hotels-filter-button-wrapper {
  width: 137px;
  margin-left: 84px;
}

.hotels-filter-btn {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  text-transform: uppercase;
  border-style: solid;
  border-color: var(--white);
  background-color: transparent;
  border-width: 2px;
  border-radius: 2px;
  width: 100%;
  padding: 5px 29px 6px 31px;
}

.hotels-filter-result {
  font-weight: 700;
  max-width: 200px;
  margin-right: 46px;
}

.hotels-sort-list-borders {
  padding: 29px 73px 31px;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--border-grey);
}

.hotels-sort-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.hotels-sort-list {
  margin-top: 2px;
  display: flex;
}

.hotels-sort-title {
  max-width: 80px;
  font-size: 12px;
  line-height: 18px;
  margin-right: 41px;
  text-align: start;
  margin-top: 2px;
}

.hotels-sort-link-type a {
  display: flex;
  max-width: 80px;
  font-size: 12px;
  line-height: 18px;
  color: var(--focus-light-grey);
  text-decoration-color: var(--hover-light-sky-blue);
  margin-right: 33px;
  border-bottom: dotted;
  border-width: 1px;
  border-color: var(--hover-light-sky-blue);
}

.hotels-sort-link-price {
  display: flex;
  max-width: 80px;
  font-size: 12px;
  line-height: 18px;
  color: var(--focus-light-grey);
  text-decoration-color: var(--hover-light-sky-blue);
  margin-right: 32px;
}

.hotels-sort-link-rank {
  width: 11px;
  height: 10px;
}

.hotels-sort-link-ranking a {
  display: flex;
  max-width: 100px;
  font-size: 12px;
  line-height: 18px;
  color: var(--focus-light-grey);
  text-decoration-color: var(--hover-light-sky-blue);
  border-bottom: dotted;
  border-width: 1px;
  border-color: var(--hover-light-sky-blue);

}

.hotels-result-list {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.hotels-result-list-rank {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left:521px;
}

.hotels-result-list-rank-amount {
  font-size: 14px;
  line-height: 21px;
  color: var(--silver);
  background-color: var(--light-grey);
  padding: 3px 14px 3px;
}

.hotels-result-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: 260px;
  margin-left: 29px;
}

.hotels-result-item {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 71px 30px 73px;
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--border-grey);
}

.hotels-photo {
  align-self: flex-end;
  width: 135px; 
  height: 90px;
}

.hotels-result-link-title {
  font-weight: 700;
  width: 260px;
  text-align: start;
  font-weight: 700;
  color: var(--black);
}

.hotels-result-list-text {
  font-size: 14px;
  line-height: 21px;
  text-align: start;
  width: 110px;
  margin-right: 6px;
  margin-top: 7px;
  margin-bottom: 15px;
}

.hotels-result-link-detail {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--hover-light-sky-blue);
  width: 110px;
  margin-right: 6px;
  word-break: break-all;
  padding-top: 3px;
  padding-bottom: 3px;
}

.hotels-result-link-booking {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--brown);
  width: 142px;
  word-break: break-all;
  padding-top: 3px;
  padding-bottom: 3px;
}

.features-description {
  font-size: 14px;
}

.features-list-sub-text, 
.features-item-description-text {
  font-size: 14px;
  line-height: 21px;
}

.main-header-nav, 
.hotels-header-nav, 
.booking-search-field {
  font-size: 14px;
  font-weight: 700;
}

.booking-search-btn-min, 
.booking-search-btn-plus {
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  width: 38px;
  font-size: 25px;
  font-weight: 700;
  color: var(--grey);
  background-color: var(--light-grey);
}

.footer-contacts-tel, 
.footer-contacts-text {
  font-weight: 700;
  text-align: center;
}

.features-list-sub-title, 
.features-item-description-title {
  line-height: 21px;
  font-weight: 700;
}

.booking-search-date {
  font-size: 14px;
  font-weight: 700;
  background-color: var(--light-grey);
}

.features-item-description-title {
  font-size: 21px;
}

.booking-search-send-btn {
  font-size: 21px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--hover-light-sky-blue);
}

.site-navigation a {
  color: var(--black);
}

.site-navigation a:hover {
  color: var(--hover-light-sky-blue);
}

.site-navigation a:active {
  color: var(--focus-light-grey);
}

.active a:visited {
  color: var(--brown);
}

.social-item a:hover {
  background-color: var(--hover-corn-flower-blue);
}

.social-item a:active {
  background-color: var(--active-steel-blue);
}

.booking-search-btn:hover {
  background-color: var(--hover-brown);
}

.booking-search-btn:active {
  background-color: var(--active-brown-dark);
}

.booking-search-send-btn:hover {
  background-color: var(--hover-corn-flower-blue);
}

.booking-search-send-btn:active {
  background-color: var(--active-steel-blue);
}

.booking-search-btn-min:hover {
  color: var(--black);
}

.booking-search-btn-min:active {
  color: var(--hover-light-sky-blue);
}

.booking-search-btn-plus:hover {
  color: var(--black);
}

.booking-search-btn-plus:active {
  color: var(--hover-light-sky-blue);
}

.booking-search-date:focus {
  background-color: var(--white);
}

.booking-search-date:hover {
  background-color: var(--hover-light-grey);
}

.booking-search-date-field:hover {
  background-color: var(--hover-light-grey)
}

.booking-search-date-field:focus {
  background-color: var(--white);
  border-bottom: solid;
  border-width: 2px;
  border-color: var(--border-grey);
}

.hotels-filter-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.hotels-sort-link-ranking a:hover {
  color: var(--hover-light-sky-blue);
}

.hotels-sort-link-type a:hover {
  color: var(--hover-light-sky-blue);
}

.hotels-sort-link-ranking a:active {
  color: var(--black);
  border-width: 0px;
}

.hotels-sort-link-type a:active {
  color: var(--black);
  border-width: 0px;
}

.hotels-sort-link-price a:visited {
  color: var(--hover-light-sky-blue);
}

.hotels-result-link-title:hover {
  color: var(--hover-light-sky-blue);
}

.hotels-result-link-title:active {
  color: var(--hover-light-grey);
}

.hotels-result-link-detail:hover {
  background-color: var(--hover-corn-flower-blue);
}

.hotels-result-link-detail:active {
  background-color: var(--active-steel-blue);
}

.hotels-result-link-booking:hover {
  background-color: var(--hover-brown);
}

.hotels-result-link-booking:active {
  background-color: var(--active-brown-dark);
}