:root {
  --hover-light-sky-blue: #81b3d2;
  --hover-corn-flower-blue: #669ec0;
  --active-steel-blue: #5496bd;
  --active-brown-dark: #503e33;
  --focus-light-grey: #b3b3b3;
  --hover-light-grey: #EBEBEB;
  --hover-brown: #604E43;
  --black: #000000;
  --grey: #a9a9a9;
  --silver: #666666;;
  --light-grey: #F2F2F2;
  --brown: #766357;
  --white: #ffffff;
  
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.inn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  text-transform: uppercase;
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
}

.link {
  color: var(--black);
}

.button {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.hotels-sort-link a {
  font-size: 12px;
  line-height: 18px;
  color: var(--focus-light-grey);
  text-decoration-color: var(--hover-light-sky-blue);
}

.hotels-sort-link-active {
  font-size: 12px;
  line-height: 18px;
  color: var(--focus-light-grey);
  text-decoration-color: var(--hover-light-sky-blue);
}

.hotels-filter-text, 
.features-list-sub-text,
.hotels-result-list-text,
.features-item-description-number,
.features-item-description-text {
  font-size: 14px;
  line-height: 21px;
}

.main-header-nav,
.hotels-header-nav,
.booking-search-field {
  font-size: 14px;
  font-weight: 700;
}

.booking-search-btn-min,
.booking-search-btn-plus {
  font-size: 14px;
  font-weight: 700;
  color: var(--grey);
  background-color: var(--light-grey);
}

.footer-contacts,
.features-title,
.hotels-filter-result
.hotels-result-list-title {
  font-weight: 700;
}

.features-list-sub-title,
.features-item-description-title {
  line-height: 21px;
  font-weight: 700;
}

.hotels-filter-btn {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  text-transform: uppercase;
}

.hotels-result-link-detail {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: var(--hover-light-sky-blue);
}

.hotels-result-link-booking {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: var(--brown);
}

.booking-text {
  font-size: 14px;
  line-height: 24px;
}

.booking-search-date {
  font-size: 14px;
  font-weight: 700;
  background-color: var(--light-grey);
}

.features-description {
  font-size: 14px;
}

.hotels-result-list-rank {
  font-size: 14px;
  line-height: 21px;
  color: var(--silver);
  background-color: var(--light-grey);
}

.hotels-filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-width: 0px;
}

.booking-search-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--brown);
}

.booking-search-send-btn {
  font-size: 21px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--hover-light-sky-blue);
}

.booking-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.social-item a {
  width: 46px;
  height: 48px;
  background-color: var(--hover-light-sky-blue); 
}

.site-navigation a {
  color: var(--black);
}

.site-navigation a:hover {
  color: var(--hover-light-sky-blue);
}

.site-navigation a:active {
  color: var(--focus-light-grey);
}

.site-navigation-item-active a:visited {
  color: var(--brown);
}

.social-item a:hover {
  background-color: var(--hover-corn-flower-blue);
}

.social-item a:active {
  background-color: var(--active-steel-blue);
}

.booking-search-btn:hover {
  background-color: var(--hover-brown);
}

.booking-search-btn:active {
  background-color: var(--active-brown-dark);
}

.booking-search-send-btn:hover {
  background-color: var(--hover-corn-flower-blue);
}

.booking-search-send-btn:active {
  background-color: var(--active-steel-blue);
}

.booking-search-btn-min:hover {
  color: var(--black);
}

.booking-search-btn-min:active {
  color: var(--hover-light-sky-blue);
}

.booking-search-btn-plus:hover {
  color: var(--black);
}

.booking-search-btn-plus:active {
  color: var(--hover-light-sky-blue);
}

.booking-search-date:focus {
  background-color: var(--white);
}

.booking-search-date:hover {
  background-color: var(--hover-light-grey);
}

.hotels-filter-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.hotels-sort-link a:hover {
  color: var(--hover-light-sky-blue);
}

.hotels-sort-link a:active {
  color: var(--black);
}

.hotels-sort-link-active a:visited {
  color: var(--hover-light-sky-blue);
}

.hotels-result-link-title:hover {
  color: var(--hover-light-sky-blue);
}

.hotels-result-link-title:active {
  color: var(--hover-light-grey);
}

.hotels-result-link-detail:hover {
  background-color: var(--hover-corn-flower-blue);
}

.hotels-result-link-detail:active {
  background-color: var(--active-steel-blue);
}

.hotels-result-link-booking:hover {
  background-color: var(--hover-brown);
}

.hotels-result-link-booking:active {
  background-color: var(--active-brown-dark);
}